apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mobigen-production

resources:
  - ../../base
  - hpa.yaml
  - pdb.yaml

nameSuffix: -production

patches:
  # Increase replicas for production
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: web
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: generator

  # Increase resource limits for production
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 512Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 250m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 1Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 1000m
    target:
      kind: Deployment
      name: web

  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 1Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 500m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 2Gi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 2000m
    target:
      kind: Deployment
      name: generator

configMapGenerator:
  - name: mobigen-config
    behavior: merge
    literals:
      - nextauth-url=https://mobigen.example.com
      - log-level=warn

images:
  - name: mobigen/web
    newTag: v1.0.0
  - name: mobigen/generator
    newTag: v1.0.0
  - name: mobigen/builder
    newTag: v1.0.0
